* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  line-height: 2;
  font-family: "Montserrat",
               "Segoe UI",
               "Roboto",
               "Helvetica Neue",
               "Arial",
               "Noto Sans",
               "Sans Serif",
               "Apple Color Emoji",
               "Segoe UI Emoji",
               "Segoe UI Symbol",
               "Noto Color Emoji";
  font-size: 18px;
  background-color: white;
}

@font-face {
  font-family: 'PixelMania';
  font-weight: 400;
  font-style: normal;
  src: local('PixelMania'), url('../font/PixelMania.woff') format('woff');
}

@font-face {
  font-family: 'HighScore';
  font-weight: 400;
  font-style: normal;
  src: local('HighScore'), url('../font/HighScore.woff') format('woff');
}

@font-face {
  font-family: 'PixelMatrix';
  font-weight: 400;
  font-style: normal;
  src: local('PixelMatrix'), url('../font/PixelMatrix.woff') format('woff');
}

/**
@font-face {
  font-family: 'ArcadeLove';
  font-weight: 400;
  font-style: normal;
  src: local('ArcadeLove'), url('../font/ArcadeLove.woff') format('woff');
}

@font-face {
  font-family: 'GetReady';
  font-weight: 400;
  font-style: normal;
  src: local('GetReady'), url('../font/GetReady.woff') format('woff');
}

@font-face {
  font-family: 'InsertCoin';
  font-weight: 400;
  font-style: normal;
  src: local('InsertCoin'), url('../font/InsertCoin.woff') format('woff');
}

@font-face {
  font-family: 'Mytendo';
  font-weight: 400;
  font-style: normal;
  src: local('Mytendo'), url('../font/Mytendo.woff') format('woff');
}

@font-face {
  font-family: 'PushStart';
  font-weight: 400;
  font-style: normal;
  src: local('PushStart'), url('../font/PushStart.woff') format('woff');
}

@font-face {
  font-family: 'SmallPrint';
  font-weight: 400;
  font-style: normal;
  src: local('SmallPrint'), url('../font/SmallPrint.woff') format('woff');
}

@font-face {
  font-family: 'SorryGameOver';
  font-weight: 400;
  font-style: normal;
  src: local('SorryGameOver'), url('../font/SorryGameOver.woff') format('woff');
}
**/

main {
  display: inline-block;
  padding: 0px 50px;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  text-align: center;
}

.logo-container {
  text-align: center;
}

.logo {
  display: inline-block;
  min-width: 300px;
  max-width: 500px;
  width: calc(100vw - 100px);
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .logo {
    float: none;
  }
}

@media only screen and (min-width: 1000px) {
  .logo {
    float: right;
  }
}

.intro {
  min-width: 300px;
  text-align: justify;
}

.intro strong {
  margin: 0px 5px;
  font: 12px PixelMania;
}

.tools {
  min-width: 300px;
  line-height: 1;
  text-align: center;
}

.tools img {
  margin: 0px 10px;
}

.tools strong {
  font: bold 40px HighScore;
}

.tools .spacer {
  display: inline-block;
  width: 20px;
}

.article {
  min-width: 300px;
  text-align: justify;
}

.fgred {
  color: #ff0000;
}

.fgpink {
  color: #ff0066;
}

.fggreen {
  color: #005a00;
}

.fgsalad {
  color: #57C530;
}

.fgblue {
  color: #2600c0;
}

.fgazure {
  color: #0099ff;
}

.fgyellow {
  color: #ffc400;
}

.fgorange {
  color: #ff8000;
}

.bgred {
  background-color: #ff0000;
}

.bgpink {
  background-color: #ff0066;
}

.bggreen {
  background-color: #005a00;
}

.bgsalad {
  background-color: #57C530;
}

.bgblue {
  background-color: #2600c0;
}

.bgazure {
  background-color: #0099ff;
}

.bgyellow {
  background-color: #ffc400;
}

.bgorange {
  background-color: #ff8000;
}
