@font-face {
  font-family: "Arcade Love";
  src:url(../fonts/ArcadeLove.woff) format(woff);
}
@font-face {
  font-family: "Get Ready";
  src:url(../fonts/GetReady.woff) format(woff);
}
@font-face {
  font-family: "High Score";
  src:url(../fonts/HighScore.woff) format(woff);
}
@font-face {
  font-family: "Insert Coin";
  src:url(../fonts/InsertCoin.woff) format(woff);
}
@font-face {
  font-family: "Mytendo";
  src:url(../fonts/Mytendo.woff) format(woff);
}
@font-face {
  font-family: "Pixel Matrix";
  src:url(../fonts/PixelMatrix.woff) format(woff);
}
@font-face {
  font-family: "Push Start";
  src:url(../fonts/PushStart.woff) format(woff);
}
@font-face {
  font-family: "Small Print";
  src:url(../fonts/SmallPrint.woff) format(woff);
}
